@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
:root{
  --filled: #3498db;
  --empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #f6f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  text-align: center;

  .bar-container{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 350px;
    position: relative;
    margin-bottom: 30px;
    &::before{
      content: '';
      background-color: var(--empty);
      position: absolute;
      top: 50%;
      left: 0;
      height: 4px;
      width: 100%;
      transform: translateY(-50%);
      z-index: -1;
    }
    .progress{
      background-color: var(--filled);
      position: absolute;
      top: 50%;
      left: 0;
      height: 4px;
      width: 0%;
      transform: translateY(-50%);
      transition: 0.4s ease;
      z-index: -1;
    }
    .step{
      background: #fff;
      color: #999;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      border: 3px solid var(--empty);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.4s ease;
    }
    .step.active{
      border-color: var(--filled);
    }
  }
  .btn{
    background-color: var(--filled);
    color: white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
    &:focus{
      outline: 0;
    }
    &:active{
      transform: scale(0.98);
    }
    &:disabled{
      background-color: var(--empty);
      cursor: not-allowed;
    }
  }
}